<%= form_for @event do |f| %>
  <div class="form-group">
    <label>Event Type </label>
    <%= f.select :description, [["Canals", "Canals"], ["House", "House"], ["Bed & Breakfast", "Bed & Breakfast"]], id: "home_type", prompt: "Select home type", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Description</label>
    <%= f.select :location, [["Entire","Entire"], ["Private", "Private"], ["Shared", "Shared"]], prompt: "Select room type", class: "form-control" %>
  </div>





  <label>Amenities</label>

  <div class="form-group">
    <%= f.check_box :location %> Location
  </div>

  </div>
  <div class="form-group">
    <%= f.check_box :capacity %> capacity
  </div>

  <div class="form-group">
    <%= f.check_box :includes_food %> Heating
  </div>
  <div class="form-group">
    <%= f.check_box :includes_drinks %> Drinks
  </div>

  <div class="form-group">
    <label>Daily Price</label>
    <div class="input-group">
      <div class="input-group-addon">€</div>
      <%= f.number_field :price, placeholder: "eg. 100", class: "form-control" %>
    </div>
  </div>

  <label>Publish this place?</label>

  <div class="form-group">
    <%= f.check_box :active %> Active
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
